/*
 * Styles for the front
 * Styling the front end elements for our post previews 
 */


/*our upcoming post elements*/
.upcoming-post-preview{
	
}
.upcoming-post-preview .post-live-date{
	margin-top: 0px;
}
.upcoming-post-preview .post-time-left{
	margin-top: 0px;
}
.upcoming-post-preview .post-content{
	margin-bottom: 15px;
}

.upcoming-post-preview .readmore-link{
	margin: 15px 0px;
}

